*, *::before, *::after {
  box-sizing: border-box;}

  *:focus{
  outline:none;}

body{
  padding: 0;
  margin: 0;
  background: #000;
  color: white;
  font-family: "Oxygen" , sans-serif;}

  a{
    text-decoration: none;}

  img{
    width: 100%;}

  .home img{
    width: 68%;
    filter: grayscale(50%) contrast(50%) brightness(100%);}

  .projects img{
  	filter: grayscale(50%);}

   aside{
    position: fixed;
    background: #222;
    top: 0px;
    left: 0px;
    width: 120px;
    height: 100%;
    overflow: none;
    z-index: 1;
    text-align: center;
    padding: 0;}

  aside a{
    display: block;
    padding: 15px 0;
    color: white;
    transition: all 0.35s;
    font-size: 0.75em;
    letter-spacing: 2px;}

  aside a:hover{
    background: #000;}

  aside p{
    margin: 0;
    padding: 0;}

  aside nav a:nth-child(2){
    background: #000;}

  aside nav a:nth-child(2):hover{
    background: #b2b2b2;
    color: #222;}

   main{
    max-width: 980px;
    background: #000;
    margin-left: 20%;
    padding: 12px 50px 12px 50px;}

   header{
   	text-align: center;
    letter-spacing: 2px;}

  header h1{
    font-weight: bold;
    font-size: 52px;
    letter-spacing: 4px;}

  header h5{
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 4px;
    color: #b2b2b2;}

  .about,
.contact{
  line-height: 2.5em;
  letter-spacing: 1px;
  font-weight: 300;
  margin-left: 20%;
  padding: 12px 50px 12px 50px;
  background: #333131;
  max-width: 930px;
  margin-top: 145px;
  height: 500px}

  .projects{
  line-height: 1.5em;
  letter-spacing: 1px;
  font-weight: 300;
  margin-left: 20%;
  padding: 12px 50px 12px 50px;
  max-width: 930px;
  margin-top: 117px;}

.about h2,
.projects h2,
.contact h2{
  font-weight: 300;
  text-decoration: line-through;
  padding-bottom: 10px;
  margin: 100px 0 0 0;
  letter-spacing: 4px;}

 .projects h3{
 	color: #b2b2b2;}

 .projects p{
 	color: 	#b2b2b2;
 }



.about p{
  color: #b2b2b2;}
.about span{
  font-weight: 600;
  color: white;}
.about h3{
  font-weight: 300;
  margin: 50px 0;}

.row-halves{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  -webkit-flex-pack:justify;}

.row-halves .col{
  width: 30%;}

.col{
  border: 1px solid #222;
  background: #222;
  color: #b2b2b2;
  padding: 10px;}

  .col:hover{
  transform: scale(1.1);}
  
  .container{
  width: 100%;
  background-color: #b2b2b2;}

.contact .container{
  margin-top: 20px;
  margin-bottom: 100px;
  background: transparent;
  padding: 20px 0;}

.footer{
  border-top:1px solid #222;}

.top-bar{
  padding: 20px 0;
  text-align: center;}

.top-bar a{
  margin: 10px;
  font-size: 2em;
  color: #b2b2b2;
  transition: all 0.35s;
  display: inline-block;}

.top-bar a:hover{
  transform: scale(1.1);
  color: #009688;}

.bottom-bar{
  background: #000;
  font-size: 0.75em;
  text-align: center;}

